/* Colores
    verde: #A7FA07;
    azul: #25384B;
    morado: #6900af
*/

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    font-family: "Barlow", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
}

.btn-inicio {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    margin: 0;
    padding: 0;
    right: 30px;
    text-decoration: none;
}

.btn-inicio h4 {
    color: #A7FA07;
    text-align: center;
    background-color:#25384B;
    border: 2px solid #A7FA07;
    border-radius: 20px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    height: 70%;
    background: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.header {
    position: fixed;
    z-index: 1000;
    /* background-color: #25384B; */
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.header a {
    color: #A7FA07;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
    margin: 0;
    border-radius: 6px;
}

.header .anclas a:hover {
    background-color: #25384B;
    color: #A7FA07;
    border-radius: 20px;
}

.logo-header {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anclas {
    width: 230px;
    background-color: #6900af;
    border-radius: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a img {
    width: 100px;
}

@media (min-width: 922px) {    
    .nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .nav a img {
        transform: scale(1.5);
    }

    .anclas {
        background-color: transparent;
        width: 375px;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .logo-header {
        transform: scale(.8);
        display: flex;
        justify-content: flex-start;
    }

    .logo-header a {
        width: 150px;
        text-align: center;
    }
    
    .anclas a {
        transform: scale(1.5);
        margin: 20px;
    }
}

a {
    text-decoration: none;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.fondo > .image {
    background-image: url(Assets/Fondo\ Destacados.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.fondo > .overlay {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.main-text {
    height: 65%;
}

.main-text > h1 {
    color: #A7FA07;
    width: 300px;
    font-weight: 900;
    margin: 10% 0 0 10%;
    font-size: 90px;
    height: 180px;
    line-height: 0.8;
}

.main-text > h1::first-line {
    color: rgb(255, 255, 255);
}

.main-text > h3 {
    margin: 0 0 0 10%;
    width: 300px;
    color: white;
    font-size: 25px;
}

.main-text > p {
    /* margin-top: 20px; */
    margin: 0 0 0 10%;
    width: 250px;
    color: white;
    font-size: 20px;
}

.call-to-action {
    margin-top: 10;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}


.call-to-action .suscripcion {
    margin: 0;
    width: 220px;
    height: 75px;
    border: none;
    background-color: #A7FA07;
    color: #25384B;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
}

.call-to-action .suscripcion:hover {
    background-color: #25384B;
    color: #A7FA07;
    border: 2px solid #A7FA07;
}

.call-to-action .suscripcion:active {
    scale: .90;
}

.call-to-action .iniciar-sesion {
    margin-top: 25px;
    width: 220px;
    height: 35px;
    background-color: transparent;
    color: #A7FA07;
    border: 2px solid #A7FA07;
    border-radius: 40px;
}

.call-to-action .iniciar-sesion:hover {
    background-color: #A7FA07;
    border: none;
    color: #25384B;
}

.call-to-action .iniciar-sesion:active {
    scale: .90;
}

@media (min-width: 922px) {
    .call-to-action {
        position: absolute;
        width: 90%;
    }

    .call-to-action .suscripcion {
        width: 30%;
        position: absolute;
        right: 20%;
        bottom: 20px;
    }

    .call-to-action .iniciar-sesion {
        width: 30%;
        position: absolute;
        right: 20%;
    }
}

.fondo-2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100vh;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.fondo-2 > .image-2 {
    background-image: url(https://cdn.pixabay.com/photo/2023/07/07/17/07/ai-generated-8113090_1280.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.fondo-2 > .overlay-2 {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
}

.destacados {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 922px) {
    .destacados {
        height: 100%;
    }
    
    .fondo-2 {
        height: 100%;
        width: 100%;
    }

    .fondo-2 > .image-2 {
        height: 100%;
        width: 100%;
    }
}

.tarjetas {
    width: 300px;
    height: 450px;
    margin: 25px;
    background: transparent;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    overflow: hidden;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
    transition: 0.3s;
}

.tarjetas:hover {
    scale: 1.1;
}

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-img img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 190px;
    padding: 15px;
    text-align: center;
}

.card-body .titulo {
    font-size: 25px;
    margin: 15px 0;
}

.card-body .info {
    font-size: 12px;
    width: 250px;
    height: auto;
}

.card-body h3 {
    color: #A7FA07;
}

.card-body p {
    color: #fff;
}

.card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #25384B;
}

.card-footer a {
    color: #A7FA07;
    display: block;
    padding: 16px;
    font-weight: 800;
}

.pricing {
    background-color:rgb(255, 0, 0);
    width: 100%;
    height:100vh;
}

.contacto {
    background-color: rgb(0, 255, 98);
    width: 100%;
    height:100vh;
}

.footer {
    background-color: rgb(251, 255, 0);
    width: 100%;
    height: 50px;
}